
body {
    font-size: 20px; 
    color: purple;
    background-color:rgb(245, 245, 189);
 
 }

 .nav-link{
   
    color:white;
 }
#selected{
    background-color: white;
    color:purple;
}
#title{
    padding-left: 100px;
}
#ingTitle{
    font-size: 300%;
    padding-left: 100px;
}
 .top-nav{
     background-color: purple;
     margin-bottom: 50px;
 
     
 }