
body {
    font-size: 20px; 
    color: purple;
    background-color:rgb(245, 245, 189);
 
 }

 .nav-link{
   
    color:white;
 }
#selected{
    background-color: white;
    color:purple;
}
#title{
    text-align: center;
}
#ingTitle{

    text-align: center;
    font-size: 300%;

}
.jumbotron{
    padding:40px;
}
 .top-nav{
     background-color: purple;
     margin-bottom: 50px;
 }
 .nav-item:hover{
    background-color: rgb(194, 162, 92);
 }
     
 
 #list-correction{
     text-align: center;
     padding-bottom: auto;
 }
 .ingredient-list{
     padding-left: 40em;
     padding-right: 40em;
     padding-bottom: 20rem;
 }
#Procedure{
    padding-left: 20em;
    padding-right: 40em;
    
}
.procedure-list{
    text-align: left;
    font-size: 20pt;
    padding-right: 20rem; 
}
table {
    counter-reset: rowNumber;
  }
  
  table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
    padding-left: 4rem;
  }